# Elections Ad Spending Analysis

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

## Import dataset

There are 3 datasets for this study :
- **advertisers** 
- **locations**
- **results**

In [2]:
# import advertisers dataset
advertisers = pd.read_csv("/Users/ranu/Documents/Data-Science-project/Analysis/Elections Campaigns/elections-data/advertisers.csv")

In [3]:
# import locations dataset
locations = pd.read_csv("/Users/ranu/Documents/Data-Science-project/Analysis/Elections Campaigns/elections-data/locations.csv")

In [4]:
# import results dataset
results = pd.read_csv("/Users/ranu/Documents/Data-Science-project/Analysis/Elections Campaigns/elections-data/results.csv")

## Pre-proccessing

In [5]:
# Understand the type of each feature for advertisers data
advertisers.dtypes

Page ID                      int64
Page name                   object
Disclaimer                  object
Amount spent (INR)          object
Number of ads in Library     int64
dtype: object

In [6]:
# Understand the type of each feature for location data
locations.dtypes

Location name         object
Amount spent (INR)     int64
dtype: object

In [7]:
# Understand the type of each feature for results data
results.dtypes

_id                 int64
Sl No             float64
State              object
PC_Name            object
Total Electors      int64
Polled (%)        float64
Total Votes         int64
Phase             float64
dtype: object

In [8]:
# Eliminate missing values for the columns "_id", "Sl No", "State" (there is no sense to have missing value for these)
results = results.dropna(subset=["_id", "Sl No", "State"], axis=0)

In [13]:
# Rename the columns "Locations name" for Locations
locations = locations.rename(columns = {"Location name" : "State"})

In [10]:
# Merge these two datasets
results = pd.merge(results, locations, on = "State")

## Data Analysis

In [11]:
# Total number of ads in library in Tamilakam (N=507)
advertisers[advertisers["Page ID"]==179670408573941]["Number of ads in Library"].sum()

507

In [16]:
# Total amount spent (INR) in Tamilakam (N=8168844)
advertisers[advertisers["Page ID"]==179670408573941]["Amount spent (INR)"].astype(int).sum()

8168844

In [15]:
locations["State"].nunique()

36

In [16]:
results["State"].nunique()

31

In [28]:
results

,_id,Sl No,State,PC_Name,Total Electors,Polled (%),Total Votes,Phase,Amount spent (INR)
0,2,2.0,Arunachal Pradesh,Arunachal East,375310,83.31,312658,1.0,1385654
1,3,3.0,Arunachal Pradesh,Arunachal West,517384,73.60,380783,1.0,1385654
2,4,4.0,Assam,Dibrugarh,1659588,76.75,1273744,1.0,17478091
3,5,5.0,Assam,Jorhat,1727121,79.89,1379749,1.0,17478091
4,6,6.0,Assam,Kaziranga,2050126,79.33,1626408,1.0,17478091
...,...,...,...,...,...,...,...,...,...
514,545,53.0,West Bengal,Jadavpur,2033525,76.68,1559330,NaN,77244996
515,546,54.0,West Bengal,Joynagar,1844780,80.08,1477298,NaN,77244996
516,547,55.0,West Bengal,Kolkata Dakshin,1849520,66.95,1238256,NaN,77244996
517,548,56.0,West Bengal,Kolkata Uttar,1505356,63.59,957319,NaN,77244996
518,549,57.0,West Bengal,Mathurapur,1817068,82.02,1490299,NaN,77244996

In [18]:
# Total number of electors grouping by phase
results.dropna(subset=["Phase"], axis=0).groupby("Phase")["Total Electors"].sum()

Phase
1.0    166071196
2.0    158645484
3.0    171987694
4.0    177075629
5.0     89383165
6.0     96114670
Name: Total Electors, dtype: int64

In [19]:
# Total number of votes grouping by phase
results.dropna(subset=["Phase"], axis=0).groupby("Phase")["Total Votes"].sum()

Phase
1.0    109850085
2.0    105830572
3.0    112937149
4.0    122469319
5.0     55577891
6.0     61623438
Name: Total Votes, dtype: int64

In [20]:
# Total number of votes grouping by State
results.groupby("State")["Total Electors"].sum()

State
Andhra Pradesh        41333702
Arunachal Pradesh       892694
Assam                 24506236
Bihar                 77089931
Chandigarh              659805
Chhattisgarh          20658430
Goa                    1179344
Gujarat               47982446
Haryana               20076768
Himachal Pradesh       5645579
Jammu and Kashmir      8726281
Jharkhand             25833046
Karnataka             54725675
Kerala                27749158
Lakshadweep              57784
Madhya Pradesh        56595333
Maharashtra           92943890
Manipur                2029601
Meghalaya              2226567
Mizoram                 856364
Nagaland               1317536
Odisha                33666719
Puducherry             1023699
Rajasthan             53367103
Sikkim                  464140
Tamil Nadu            62333925
Telangana             33216348
Tripura                2860287
Uttar Pradesh        154103670
Uttarakhand            8337914
West Bengal           76010006
Name: Total Electors, dtype: int64

In [31]:
# Total number of votes grouping by State
results.groupby("State")["Total Votes"].sum()

State
Andhra Pradesh       33340560
Arunachal Pradesh      693441
Assam                19988275
Bihar                43314880
Chandigarh             448547
Chhattisgarh         15040444
Goa                    896958
Gujarat              28854134
Haryana              13010201
Himachal Pradesh      4002541
Jammu and Kashmir     5111538
Jharkhand            17098056
Karnataka            38657725
Kerala               19777478
Lakshadweep             48630
Madhya Pradesh       37847251
Maharashtra          57006778
Manipur               1588215
Meghalaya             1705535
Mizoram                487013
Nagaland               760507
Odisha               25062972
Puducherry             807724
Rajasthan            32835448
Sikkim                 370765
Tamil Nadu           43458875
Telangana            21814025
Tripura               2314859
Uttar Pradesh        87722970
Uttarakhand           4771288
West Bengal          60268908
Name: Total Votes, dtype: int64

In [ ]:
# Distribution of number of total votes by phase and state
results.groupby(["State", "Phase"])["Total Votes"].sum().unstack()

Phase,1.0,2.0,3.0,4.0,5.0,6.0
State,,,,,,
Andhra Pradesh,NaN,NaN,NaN,33340560.0,NaN,NaN
Arunachal Pradesh,693441.0,NaN,NaN,NaN,NaN,NaN
Assam,6767191.0,6257440.0,6963644.0,NaN,NaN,NaN
Bihar,3744476.0,5585719.0,5832247.0,5578794.0,5398753.0,8538766.0
Chhattisgarh,1005392.0,4029475.0,10005577.0,NaN,NaN,NaN
Goa,NaN,NaN,896958.0,NaN,NaN,NaN
Gujarat,NaN,NaN,28854134.0,NaN,NaN,NaN
Haryana,NaN,NaN,NaN,NaN,NaN,13010201.0
Jammu and Kashmir,1108206.0,1286144.0,NaN,672653.0,1027084.0,1017451.0
Jharkhand,NaN,NaN,NaN,4262952.0,3688160.0,5373113.0
Karnataka,NaN,20038455.0,18619270.0,NaN,NaN,NaN
Kerala,NaN,19777478.0,NaN,NaN,NaN,NaN
Lakshadweep,48630.0,NaN,NaN,NaN,NaN,NaN
Madhya Pradesh,7662447.0,6540262.0,11849587.0,11794955.0,NaN,NaN
Maharashtra,6086906.0,9360178.0,13341394.0,14183702.0,14034598.0,NaN
Manipur,1175478.0,412737.0,NaN,NaN,NaN,NaN
Meghalaya,1705535.0,NaN,NaN,NaN,NaN,NaN
Mizoram,487013.0,NaN,NaN,NaN,NaN,NaN
Nagaland,760507.0,NaN,NaN,NaN,NaN,NaN
Odisha,NaN,NaN,NaN,4757999.0,5858637.0,7034261.0
Puducherry,807724.0,NaN,NaN,NaN,NaN,NaN
Rajasthan,14594108.0,18241340.0,NaN,NaN,NaN,NaN
Sikkim,370765.0,NaN,NaN,NaN,NaN,NaN
Tamil Nadu,43458875.0,NaN,NaN,NaN,NaN,NaN
Telangana,NaN,NaN,NaN,21814025.0,NaN,NaN
Tripura,1192435.0,1122424.0,NaN,NaN,NaN,NaN
Uttar Pradesh,8801503.0,9259647.0,10885766.0,14407087.0,15745557.0,14628308.0
Uttarakhand,4771288.0,NaN,NaN,NaN,NaN,NaN
West Bengal,4608165.0,3919273.0,5688572.0,11656592.0,9825102.0,12021338.0