# Spam Detection

In [3]:
# import libraries
import string

## classical libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot

## machine learning
import sklearn
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

## NLP
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [4]:
## download packages 
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/ranu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [5]:
df = pd.read_csv('spam_ham_dataset.csv')

In [6]:
df.head(5)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [7]:
df['text'] = df['text'].apply(lambda x: x.replace('\r\n', ' '))

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5171 non-null   int64
 1   label       5171 non-null   object
 2   text        5171 non-null   object
 3   label_num   5171 non-null   int64
dtypes: int64(2), object(2)
memory usage: 161.7+ KB

In [9]:
stemmer = PorterStemmer() # to reduce word
corpus = []

stopwords_set = set(stopwords.words('english'))

for i in range(len(df)):
    text = df['text'].iloc[i].lower()
    text = text.translate(str.maketrans('', '', string.punctuation)).split()
    text = [stemmer.stem(word) for word in text if word not in stopwords_set]
    text = ' '.join(text)
    corpus.append(text)

In [10]:
## difference between two text
df['text'].iloc[0]
corpus[0]

'subject enron methanol meter 988291 follow note gave monday 4 3 00 preliminari flow data provid daren pleas overrid pop daili volum present zero reflect daili activ obtain ga control chang need asap econom purpos'

In [11]:
## vectorize
vectorizer = CountVectorizer()

## split data
X = vectorizer.fit_transform(corpus).toarray()
y = df['label_num']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)